#text {
  width: 80px;
  height: 30px;
  background-color: #fff;
//   border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
  &:hover {
    outline: 2.5px solid #6188de;
  }
}
