.attribute {
  padding: 0 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  &-title {
    padding: 0 1rem;
    margin-left: 8px;
    font-size: 14px;
    display: flex;
    justify-items: left;
    align-items: center;
    cursor: pointer;
    user-select: none;
    img {
      margin-left: 0.5rem;
      height: 0.7rem;
      transform: rotate(0deg);
      transition: all 0.3s;
    }
  }

  &-content {
    // height: 114px;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &-create {
      width: 200px;
      height: 40px;
      margin-left: 8px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-btn{
        width: 100%;
        height: 100%;
        border-radius: 6px;
        color: rgb(201, 201, 201);
        background-color: #254e8f;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #325ea6;
        }
        &:active {
          transform: scale(95%);
        }
      }
    }
    &-sure {
      width: 200px;
      height: 40px;
      margin-top: 8px;
      margin-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-btn {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        color: rgb(201, 201, 201);
        background-color: #d34c4c;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #e05e5e;
        }
        &:active {
          transform: scale(95%);
        }
      }
    }
  }
}
