.navigator {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 21, 21, 0.37);
  z-index: 999999;
  &_switch {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_title {
      letter-spacing: 1px;
    }
    &_btn {
      width: 60px;
      height: 100%;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-left: 16px;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  &_start {
    border: 1px solid #476985;
    background-color: #32537a;
    &:hover {
      background-color: #28496d;
    }
  }
  &_abuse {
    border: 1px solid #854747;
    background-color: #a86f6f;
    &:hover {
      background-color: #763e3e;
    }
  }
}
