.ingredients {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    &-wrapper {
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}