.leftlist-wrapper {
    width: 20%;
    height: 100%;
    background-color: rgb(39, 38, 38);
    position: sticky;
    border-right: 1px solid rgb(222, 222, 222);
    .list-bar {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            width: 100%;
            transition: all .3s;
            cursor: pointer;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            // margin: 0 10px;
            &:hover {
                color: #ededed;
            }
        }
    }
    .content-wrapper {
        width: 100%;
        // height: calc(100% - 2rem - 20%);
        height: calc(100% - 2rem);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 8px;
          background-color: rgb(40, 40, 40);
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(18, 18, 18);
          border-radius: 10px;
        }
    }
}