#view {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .3s;
    color: #000;
    // display: flex;
    // justify-content: flex-start;
    // align-content: flex-start;
    &:hover {
        outline: 2.5px solid #4c75ce;
    }
}