#button {
    width: 75px;
    height: 25px;
    outline: none;
    transition: all .3s;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    &:active {
        transform: scale(95%);
    }
    &:hover {
        border: none;
    }
}