.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.source {
  height: calc(100vh - 35px);
  margin-top: 35px;
}
.components {
  width: 100px;
  height: 35px;
  margin: 1rem 0.5rem;
  border-radius: 4px;
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  img {
    width: 30px;
    height: 30px;
    user-select: none;
    pointer-events: none;
  }
  &:hover {
    background-color: rgb(75, 75, 75);
  }
}

.relative {
  position: relative;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}

.com_selected_top {
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}
.com_selected_bottom {
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}
.com_selected_mid {
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: -3px;
    width: 4px;
    height: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: -3px;
    width: 4px;
    height: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}
.com_selected_board {
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: calc(50% - 10px);
    width: 10px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: calc(50% - 10px);
    width: 10px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}
