.titlebar {
  height: 30px;
  background: #3c3c3c;
  -webkit-user-select: none;
  user-select: none;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  &_settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_set {
      height: 80%;
      padding: 0 0.7rem;
      color: #c4c4c4;
      font-size: 13px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        color: #c4c4c4;
        font-size: 14px;
      }
      &_menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0;
        position: absolute;
        top: 25px;
        left: 0;
        width: 200px;
        background-color: #303031;
        border-radius: 8px;
        box-shadow: 1px 1px 5px rgb(22, 22, 22);
        &_list {
          width: 100%;
          padding: 0 20px;
          color: #c4c4c4;
          font-size: 12px;
          cursor: pointer;
          &:hover {
            background-color: #04395e;
          }
        }
      }
      &:hover {
        background-color: #505050;
      }
    }
    &_logo {
      width: 30px;
      height: 80%;
      margin-right: 0.5rem;
      img {
        height: 100%;
      }
    }
  }
  &_projectname{
    width: 300px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_name{
      margin-left: 5px;
      color: #7b776c;
    }
  }
  &-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background: #505050;
    }
    img {
      width: 40%;
    }
  }
  &-close {
    &:hover {
      background: #d71526;
    }
  }
}
