.navitems {
  &_setting {
    margin-top: 16px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &_title {
      font-size: 14px;
      margin-bottom: 16px;
    }
    &_attr {
      width: 100%;
      max-height: 300px;
      overflow-y: scroll;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      &::-webkit-scrollbar {
        width: 8px;
        border-right-color: rgb(14, 14, 14);
      }
      &::-webkit-scrollbar-button {
        display: none;
        background-color: transparent;
      }
      &::-webkit-scrollbar-corner {
        // display: none;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(27, 27, 27);
      }
    }
    &_items {
      margin-top: 16px;
      width: 100%;
      &_title {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        &_span {
          font-size: 14px;
        }
        &_add {
          width: 24%;
          height: 100%;
          font-size: 14px;
          background-color: #254e8f;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          -webkit-user-select: none;
          user-select: none;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: #325ea6;
          }
        }
      }
      &_attr {
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &_icon {
          width: 40%;
          height: 56px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span {
            font-size: 13px;
          }
          img {
            border: 1px solid rgb(136, 136, 136);
            width: 50%;
            height: 100%;
          }
        }
        &_text {
          width: 40%;
          height: 40px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span {
            font-size: 13px;
          }
          input {
            width: 120px;
            height: 38px;
            border: none;
            outline: none;
            border: 1px solid rgb(79, 79, 79);
            font-size: 14px;
            border-radius: 4px;
            padding: 0.3rem 0.5rem;
            background-color: rgb(51, 51, 51);
            transition: all 0.2s;
            outline: 2px solid transparent;
            &:focus {
              outline: 2px solid #3367e9;
            }
          }
        }
        &_path {
          width: 50%;
          height: 40px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span {
            font-size: 13px;
          }
          &_select {
            width: 70%;
            height: 100%;
            border-radius: 4px;
            background-color: rgb(151, 61, 61);
            &_title {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              -webkit-user-select: none;
              user-select: none;
              cursor: pointer;
              span {
                width: 80%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              img {
                width: 8%;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
